﻿
.blog-comment {
    box-shadow: 0 0 3px 1px #777;
    list-style-type: none;
    padding: 0;
    border: 2px solid #eee;
    margin-bottom: 20px;
    margin-right: 85px;
    margin-left: 0px;
    padding: 10px 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    color: #6b6e80;
}

.meta {
    font-size: 13px;
    color: #aaaaaa;
    padding-bottom: 8px;
    margin-bottom: 10px !important;
    border-bottom: 1px solid #eee;
}
