﻿@model FoodBlog.Models.Recipe

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete the Recipe?</h3>
<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Recipe Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Cheff Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cheff.Name)
        </dd>

        <dt>
            Publish Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishDate)
        </dd>

        <dt>
            Creation Process
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationProcess)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
