﻿@model IEnumerable<FoodBlog.Models.Recipe>

<canvas id="myCanvas" width="300" height="70"></canvas>
<div id="multicolumns" class="mul-col-blue container text-center">

    <section id="videoContainer">
        <!-- Introduction -->
        <video width="400" controls>
            <source src="~/Media/videos/videoplayback.mp4" type="video/mp4">
        </video>
    </section>    
</div>


<script>
    const size = 500;
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    ctx.font = "50px cursive";
    ctx.strokeText("Recipes", 20, 40);    
</script>


<div class="container">
    <div class="container row">
        <div class="list-inline buttons">
            @using (Html.BeginForm("GroupByCheff", "Recipes"))
            {
                <input class="btn btn-lg btn-stats" type="submit" value="Recipes By Cheff" />
                <p class="btn btn-lg btn-add-blog" href="#" role="button">@Html.ActionLink("Add Recipe", "Create", null, new { @style = "color: darkseagreen;" })</p>
            }
        </div>
    </div>
    @{
        Dictionary<string, int> counterDictionary = (Dictionary<string, int>)Session["counterDictionary"];
        if (counterDictionary != null)
        {
            string favCheffName = counterDictionary.FirstOrDefault(x => x.Value == counterDictionary.Values.Max()).Key;
            <div class="alert alert-success">Like @Html.Raw(favCheffName)? @Html.ActionLink("click", "Filter", new { CheffName = favCheffName }) for more</div>
        }
    }

    @using (Html.BeginForm("Filter", "Recipes", FormMethod.Post, new { @class = "form-inline" }))
    {
        <h3>Filter Recipes by</h3>
    
        <div class="form-group">
            @Html.TextBox("CheffName", "", new { @class = "form-control", placeholder = "Cheff Name" })
            @Html.TextBox("CheffNickName", "", new { @class = "form-control", placeholder = "Cheff Nick Name" })
            @Html.TextBox("RecipeName", "", new { @class = "form-control", placeholder = "Recipe Name" })
            <center>
                <input class="btn btn-search-recipes" style="text-align:center;margin-top:10px;" type="submit" value="Search" />
            </center>
        </div>
        
    }

    <hr />

</div>


<hr />


@foreach (var item in Model)
{
    <div class="blog-post">
        <p class="blog-post-title">@Html.ActionLink(item.Name + " - " + item.Cheff.Name, "Details", new { id = item.RecipeID }, new { @style = "text-decoration:none; color: black;" }) </p>

        <div class="blog-post-meta">@Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.PublishDate))</div>
        <p>@Html.DisplayFor(modelItem => item.CreationProcess)</p>
        
        @{ if (Request.IsAuthenticated)
            {
                <div>
                    @Html.ActionLink("Edit", "Edit", new { id = item.RecipeID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.RecipeID })
                </div>
            }
        }
    </div>
}
