﻿@model IEnumerable<FoodBlog.Models.Comment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{
    if (Request.IsAuthenticated)
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Recipe.RecipeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Recipe.RecipeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            @{
                if (Request.IsAuthenticated)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CommentID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.CommentID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CommentID })
                    </td>
                }
            }
        </tr>
    }

</table>
